annotated-types
anyio
asgiref
blinker
certifi
charset-normalizer
click
colorama
dash2
dash-core-components
dash-html-components
dash-table
Django
django-ninja
fastapi
Flask
h110
idnaimportlib_metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
nest-asyncio
packagingpillow
plotly1
pydantic4
pydantic_core2
requests3
retrying
setuptools
six0
sniffio
sqlparse
starlette3
tenacity
typing_extensions2
tzdata2
urllib3
uvicorn
Werkzeug
zipp
