annotated-types
anyio
asgiref
blinker
certifi
charset-normalizer
click
colorama
dash
dash-core-components
dash-html-components
dash-table
Django
django-ninja
fastapi
Flask
Jinja2
MarkupSafe
PyMySQL
nest-asyncio
pillow
plotly
pydantic
pydantic_core
requests
retrying
setuptools
six
sniffio
sqlparse
starlette
tenacity
typing_extensions
tzdata
