{% load static %}

<!-- Navbar Header -->
<nav
class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
>
<div class="container-fluid">
  <nav
    class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
  >
  <form action="" method="get">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="submit" class="btn btn-search pe-1">
          <i class="fa fa-search search-icon"></i>
        </button>
      </div>
      <input
        type="text"
        name="query"
        placeholder="Search ..."
        class="form-control"
      />
    </div>
  </form>
  </nav>

  <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
    <li
      class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none"
    >
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        aria-haspopup="true"
      >
        <i class="fa fa-search"></i>
      </a>
      <ul class="dropdown-menu dropdown-search animated fadeIn">
        <form class="navbar-left navbar-form nav-search">
          <div class="input-group">
            <input
              type="text"
              placeholder="Search ..."
              class="form-control"
            />
          </div>
        </form>
      </ul>
    </li>
    <li class="nav-item topbar-icon dropdown hidden-caret">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="notifDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fa fa-bell"></i>
        {% if user.staff.notifications.count != 0 %}
        <span class="notification">{{user.staff.notifications.count}}</span>
        {% endif %}
      </a>
      <ul
        class="dropdown-menu notif-box animated fadeIn"
        aria-labelledby="notifDropdown"
      >
        <li>
          <div class="dropdown-title">
            You have {{user.staff.notifications.count}} new notification
          </div>
        </li>
        <li>
          <div class="notif-scroll scrollbar-outer">
            <div class="notif-center">
              {% for notification in user.staff.notifications.all|dictsortreversed:"created_at" %}
              <a href="{{notification.action_url}}">
                <div class="notif-icon notif-primary">
                  {% if 'Case' in notification.title %}
                  <i class="fa fa-briefcase"></i>
                  {% elif 'Report' in notification.title %}
                  <i class="fa fa-file"></i>
                  {% elif 'Fee Note' in notification.title %}
                  <i class="fa fa-file-text"></i>
                  {% else %}
                  <i class="fa fa-user"></i>
                  {% endif %}
                </div>
                <div class="notif-content">
                  <span class="block"> {{notification.title}} </span>
                  <span class="time">{{notification.created_at|date:"d/m/Y H:i" }}</span>
                </div>
              </a>
              {% endfor %%}
            </div>
          </div>
        </li>
        <li>
          <a class="see-all" href="{% url 'notifications' %}"
          >See all notifications<i class="fa fa-angle-right"></i>
        </a>
      </li>
      </ul>
    </li>

    <li class="nav-item topbar-user dropdown hidden-caret">
      <a
        class="dropdown-toggle profile-pic"
        data-bs-toggle="dropdown"
        href="#"
        aria-expanded="false"
      >
        <div class="avatar-sm">
          {% if user.staff.profile_picture %}
          <img
            src="{{user.staff.profile_picture.url|default:'/static/assets/img/user.png'}}"
            alt="..."
            class="avatar-img rounded-circle"
            style="width: 40px; height: 40px; object-fit: cover; object-position: top;"
          />
          {% else %}
          <img
            src="/static/assets/img/user.png"
            alt="..."
            class="avatar-img rounded-circle"
            style="width: 40px; height: 40px; object-fit: cover; object-position: top;"
          />
          {% endif %}
        </div>
        <span class="profile-username">
          <span class="op-7">Hi,</span>
          <span class="fw-bold">{{user.first_name|upper}}</span>
        </span>
      </a>
      <ul class="dropdown-menu dropdown-user animated fadeIn">
        <div class="dropdown-user-scroll scrollbar-outer">
          <li>
            <div class="user-box">
              <div class="avatar-lg">
                {% if user.staff.profile_picture %}
                <img
                  src="{{user.staff.profile_picture.url | default:'/static/assets/img/user.png'}}"
                  alt="image profile"
                  class="avatar-img rounded"
                  style="object-position: top;"
                />
                {% else %}
                <img
                  src="/static/assets/img/user.png"
                  alt="image profile"
                  class="avatar-img rounded"
                />
                {% endif %}
              </div>
              <div class="u-text">
                <h4>{{user.staff.department}}</h4>
                <p class="text-muted">{{user.email|truncatechars:10}}</p>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'staff_profile' user.staff.id %}">My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </li>
        </div>
      </ul>
    </li>
  </ul>
</div>
</nav>
<!-- End Navbar -->