{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h3>Notifications</h3>
    {% for notification in user.staff.notifications.all %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ notification.title }}</h5>
            <p class="card-text">{{ notification.content }}</p>
            <p class="card-text"><small class="text-muted">{{ notification.created_at|date:"d/m/Y H:i" }}</small></p>
            <a href="{{ notification.action_url }}" class="btn btn-primary">{{ notification.button_text }}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}